header > h1.flash {
  font-size: 4rem;
  text-align: center;
  margin: auto;
  padding: 0;
  width: 14.5em;
  height: 1.2em;
  color: black;
  -webkit-animation-name: opennow; /* Safari 4.0 - 8.0 */
  -webkit-animation-durationreds: 10s; /* Safari 4.0 - 8.0 */
  animation-name: opennow;
  animation-duration: 10s;
  transition-timing-function: cubic-bezier(1, 0.5, 0.75, 0.25);
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes opennow {
  0% {
    color: var(--homebg);
    background-color: var(--storecolor);
    border: 0.1em var(--homebg) ridge;
  }
  10% {
    color: var(--homebg);
    background-color: var(--storecolor);
    border: 0.1em var(--homebg) ridge;
  }
  20% {
    color: var(--shopcolor);
    background-color: var(--navbg);
    border: 0.1em var(--shopcolor) ridge;
  }
  30% {
    color: var(--shopcolor);
    background-color: var(--navbg);
    border: 0.1em var(--shopcolor) ridge;
  }
  40% {
    color: var(--shopcolor);
    background-color: var(--navbg);
    border: 0.1em var(--shopcolor) ridge;
  }
  50% {
    color: var(--navbg);
    background-color: var(--shopcolor);
    border: 0.1em var(--navbg) ridge;
  }
  60% {
    color: var(--navbg);
    background-color: var(--shopcolor);
    border: 0.1em var(--navbg) ridge;
  }
  70% {
    color: var(--navbg);
    background-color: var(--shopcolor);
    border: 0.1em var(--navbg) ridge;
  }
  80% {
    color: var(--storecolor);
    background-color: var(--homebg);
    border: 0.1em var(--storecolor) ridge;
  }
  90% {
    color: var(--storecolor);
    background-color: var(--homebg);
    border: 0.1em var(--storecolor) ridge;
  }
  100% {
    color: var(--storecolor);
    background-color: var(--homebg);
    border: 0.1em var(--storecolor) ridge;
  }
}

@media screen and (max-width: 1000px) {
  header > h1.flash {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 10em;
    height: 1em;
    color: black;
    -webkit-animation-name: opennow; /* Safari 4.0 - 8.0 */
    -webkit-animation-durationreds: 10s; /* Safari 4.0 - 8.0 */
    animation-name: opennow;
    animation-duration: 10s;
    transition-timing-function: cubic-bezier(1, 0.5, 0.75, 0.25);
    animation-iteration-count: infinite;
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes opennow {
    0% {
      color: var(--homebg);
      background-color: var(--storecolor);
      border: 0.1em var(--homebg) ridge;
    }
    10% {
      color: var(--homebg);
      background-color: var(--storecolor);
      border: 0.1em var(--homebg) ridge;
    }
    20% {
      color: var(--shopcolor);
      background-color: var(--navbg);
      border: 0.1em var(--shopcolor) ridge;
    }
    30% {
      color: var(--shopcolor);
      background-color: var(--navbg);
      border: 0.1em var(--shopcolor) ridge;
    }
    40% {
      color: var(--shopcolor);
      background-color: var(--navbg);
      border: 0.1em var(--shopcolor) ridge;
    }
    50% {
      color: var(--navbg);
      background-color: var(--shopcolor);
      border: 0.1em var(--navbg) ridge;
    }
    60% {
      color: var(--navbg);
      background-color: var(--shopcolor);
      border: 0.1em var(--navbg) ridge;
    }
    70% {
      color: var(--navbg);
      background-color: var(--shopcolor);
      border: 0.1em var(--navbg) ridge;
    }
    80% {
      color: var(--storecolor);
      background-color: var(--homebg);
      border: 0.1em var(--storecolor) ridge;
    }
    90% {
      color: var(--storecolor);
      background-color: var(--homebg);
      border: 0.1em var(--storecolor) ridge;
    }
    100% {
      color: var(--storecolor);
      background-color: var(--homebg);
      border: 0.1em var(--storecolor) ridge;
    }
  }
}