:root {
  --modalbg: #b2b2d8;
  --modalcolor: #c3cdd3;
  --shopbg: #f3f3f3;
  --shopcolor: #c4d0e2;
  --navbg: #b4b6b071;
  --navcolor: #080127;
  --storebg: #bab3ec;
  --storecolor: #7e809e;
  --navgrad: linear-gradient(to right, #8d9b9ee8 , #312641);
  --homebg: #EBE9E6;
}

html {
  background-color: var(--homebg);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* resize google map on home page*/
#root > div > main > div {
  height: 70% !important; 
  width :50% !important; 
}

header > h1.flash {
  font-size: 4rem;
  text-align: center;
  margin: auto;
  padding: 0;
  width: 14.5em;
  height: 1.2em;
  color: red;
  -webkit-animation-name: opennow; /* Safari 4.0 - 8.0 */
  -webkit-animation-durationreds: 3.6s; /* Safari 4.0 - 8.0 */
  animation-name: opennow;
  animation-duration: 3.6s;
  transition-timing-function: cubic-bezier(1, 0.75, 0.5, 0.25);
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes opennow {
  0% {
    color: darkred;
    background-color: white;
    border: 0.1em darkred ridge;
  }
  10% {
    color: darkred;
    background-color: white;
    border: 0.1em darkred ridge;
  }
  20% {
    color: red;
    background-color: pink;
    border: 0.1em red ridge;
  }
  30% {
    color: red;
    background-color: pink;
    border: 0.1em red ridge;
  }
  40% {
    color: red;
    background-color: pink;
    border: 0.1em red ridge;
  }
  50% {
    color: pink;
    background-color: red;
    border: 0.1em pink ridge;
  }
  60% {
    color: pink;
    background-color: red;
    border: 0.1em pink ridge;
  }
  70% {
    color: pink;
    background-color: red;
    border: 0.1em pink ridge;
  }
  80% {
    color: white;
    background-color: darkred;
    border: 0.1em white ridge;
  }
  90% {
    color: white;
    background-color: darkred;
    border: 0.1em white ridge;
  }
  100% {
    color: white;
    background-color: darkred;
    border: 0.1em white ridge;
  }
}