:root {
  --modalbg: #b2b2d8;
  --modalcolor: #c3cdd3;
  --shopbg: #f3f3f3;
  --shopcolor: #c4d0e2;
  --navbg: #e2e3e4af;
  --navcolor: #080127;
  --storebg: #bab3ec;
  --storecolor: #7e809e;
  --navgrad: linear-gradient(to right, #92acb3e8 , #3e3250);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel-item {
  padding: 1rem;
}


